/Day 10 practice project 2 and js events
/Day 11 customEvents setTimeout setTimeInterval Import Export in JS
/Day 12 Promise Async Await Promise all promise any promise race
/Day 13 Fetch API and JS Debug Tips
/Day 4
/Day 5 Spread operator and destructuring
/Day 6 Loops and Collections
/Day 6 Practice Project
/Day 7 functons and callback
/Day 8 String and Array Methods
/Day 9 Array Methods